<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Actualizar datos de alumno</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</head>
<script type="text/javascript">
$(document).ready(function(){
	alert("seleccione un alumno de la tabla para actualizar",15);
});
</script>
<body>
<header class="bg-dark" style="padding-top:15px;padding-bottom:15px;">
	<center>
		<h2 style="color:white;">Actualizar alumno</h2>
	</center>
</header>
<div class="container" style="display:flex;margin-top:80px;">
	<div class="container">
		<div class="card">
			<div class="card-header">
				<h2>Ingrese los datos a actualizar</h2>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md">
					
					</div>
				</div>
				<div class="row">
					<div class="col-md">
					
					</div>
				</div>
				<div class="row">
					<div class="col-md">
					
					</div>
				</div>
			</div>
			<div class="card-footer">
			
			</div>
		</div>
	</div>
	<div class="container" style="overflow-y:auto;">
		<div class="container" id="tabla">
			
		</div>
	</div>
</div>

</body>
</html>