<html>
<head>
	<title>Administracion de alumnos.</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<style>
	body{
		overflow-y:auto;
		overflow-x:hidden;
		background-color:darkcyan;
	}
	img{
		width:150px;
		height:150px;
	}	
</style>
<script>
	
</script>
</head>
<body>
	<header class="bg-dark container-fluid fixed-top text-white text-center">
		<h1 style="color:white;padding-top:5px;padding-bottom:5px;">Bienvenido a tu pagina de administración de Alumnos.</h1>
	</header><br>
	<hr width="75%" color="white" style="margin-top:80px;">
	<div style="display:flex;">
		<div class="container">
			<center>
				<img src="https://cdn.icon-icons.com/icons2/20/PNG/256/business_application_addmale_useradd_insert_add_user_client_2312.png" alt="image of add user" >
				<div class="row">
					<div class="col-sm">
						<a class="btn btn-success" href="/registro">Agregar Alumno.</a>
					</div>
				</div>
			</center>
		</div>
		<div class="container">
			<center>
				<img src="https://cdn.icon-icons.com/icons2/20/PNG/256/business_man_usersearch_thesearch_theclient_2356.png">
				<div class="row">
					<div class="col-sm">
						<a class="btn btn-info" href="/mostrarAlumno">Consultar Alumno.</a>
					</div>
				</div>
			</center>
		</div>
	</div><br><br>
	<div style="display:flex;">
		<div class="container">
			<center>
				<img src="https://cdn.icon-icons.com/icons2/20/PNG/256/businessapplication_edit_male_user_thepencil_theclient_negocio_2321.png">
				<div class="row">
					<div class="col-sm">
						<a class="btn btn-warning" href="/actualizar">Actualizar Alumno.</a>
					</div>
				</div>
			</center>
		</div>
		<div class="container">
			<center>
				<img src="https://cdn.icon-icons.com/icons2/20/PNG/256/delete_delete_deleteusers_delete_male_user_maleclient_2348.png">
				<div class="row">
					<div class="col-sm">
						<a class="btn btn-danger" href="/eliminar">Eliminar Alumno.</a>
					</div>
				</div>
			</center>
		</div>
	</div>
</body>
</html>